<h3>Certification | Certification Details :</h3>
<div class="formbox">
  <div class="desc"><b>Certification</b> : <%= @certification.name %> </div>
  <div class="divider"></div>
  <div class="desc"><b>Description</b> :  <%= @certification.description %></div>
  <div class="divider"></div>
  <div class="desc"><b>Price</b> :  <%= @certification.price %></div>
  <div class="divider"></div>
  <div class="desc"><b>Service Provider Price</b> :  <%= @certification.discount_price %></div>

</div>
<!--
<div class="link_buttons">
  <%= link_to_all(service_provider_certifications_path) %>
</div>-->
